---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDashboard
metadata:
  name: openshift-cluster-overview
  namespace: {{ _namespace }}
spec:
  instanceSelector:
    matchLabels:
      dashboards: {{ _namespace }}
  json: |
{{ lookup('file', 'dashboards/openshift-cluster-overview.json') | indent(4, first=True) }}
