---
- name: Install APD extra demo
  hosts: localhost
  gather_facts: false

  vars:
    # override with survey input
    demo: ''

  tasks:
    # Rather than maintain a list of available demos in a survey, get a list
    # of available demo directories and ensure that the requested demo is in
    # the list.  Depends on the fact that an ansible.cfg file exists at the
    # root of the project directory.
    - name: Set project root fact
      ansible.builtin.set_fact:
        _project_root: '{{ ansible_config_file | dirname }}'

    - name: Get a list of demo directories
      ansible.builtin.find:
        paths: '{{ _project_root }}/demos/'
        file_type: directory
        recurse: false
      register: _demo_dirs

    - name: Create list of available demos
      ansible.builtin.set_fact:
        available_demos: '{{ _demo_dirs.files | map(attribute="path") | map("basename") | list }}'

    - name: Ensure demo name is set
      ansible.builtin.assert:
        that:
          - demo is not none and demo | length > 0
        fail_msg: The 'demo' variable must be set

    - name: Ensure requested demo is available
      ansible.builtin.assert:
        that:
          - demo in available_demos
        fail_msg: The '{{ demo }}' demo is not available in this repository

    - name: Include '{{ demo }}' demo variables
      ansible.builtin.include_vars:
        file: '{{ _project_root }}/demos/{{ demo }}/setup.yml'

    - name: Run aap_configuration dispatcher
      ansible.builtin.include_role:
        name: infra.aap_configuration.dispatch

...
# vim: ft=yaml.ansible
