---
- name: Install APD extra demo
  hosts: localhost
  gather_facts: false

  vars:
    apd_extras_git_repo: https://github.com/jce-redhat/apd-extras.git
    apd_extras_git_repo_branch: main
    demo: ''
    session_cookie_age: 3600

  tasks:
    - name: Ensure demo name is set
      ansible.builtin.assert:
        that:
          - demo is not none and demo | length > 0
        fail_msg: The 'demo' variable must be set

    - name: Determine project root directory from playbook_dir variable
      # noqa no-changed-when
      ansible.builtin.command:
        cmd: git rev-parse --show-toplevel
        chdir: '{{ playbook_dir }}'
      register: _repo_root

    - name: Include "{{ demo }}" demo variables
      ansible.builtin.include_vars:
        file: '{{ _repo_root.stdout }}/demos/{{ demo }}/setup.yml'

    - name: Run aap_configuration dispatcher
      ansible.builtin.include_role:
        name: infra.aap_configuration.dispatch
      vars:
        gateway_settings:
          SESSION_COOKIE_AGE: '{{ session_cookie_age }}'
        controller_projects:
          - name: APD Extras
            organization: Ansible Product Demos (APD)
            scm_type: git
            scm_url: '{{ apd_extras_git_repo }}'
            scm_branch: '{{ apd_extras_git_repo_branch }}'
            default_environment: Product Demos EE
            wait: true

...
# vim: ft=yaml.ansible
